
<div class="app-container">

  <div class="main-content-wrapper">
    <app-adminbarra class="sidebar"></app-adminbarra>
    
    <main class="content mt-4">
     
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>Permisos</h2>
            <h2></h2>
            <h2></h2>
            <mat-card class="text-center">
              <mat-card-content >
                <!-- Barra de carga -->
                <div class="text-center py-5" >
                  <mat-spinner diameter="50"></mat-spinner>
                  <p>Cargando permisos...</p>
                </div>
          
                <!-- Tabla -->
                <table mat-table >
                  <!-- Columna Nombre -->
                  <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef>Solicitante</th>
                    <td mat-cell *matCellDef="let permiso">
                      <div class="nombre-cell">
                        <mat-icon>person</mat-icon>
                        <!-- {{permiso.nombre_solicitante}} -->
                      </div>
                    </td>
                  </ng-container>
          
                  <!-- Columna Tipo -->
                  <ng-container matColumnDef="tipo">
                    <th mat-header-cell *matHeaderCellDef>Tipo</th>
                    
                      <!-- <mat-chip>{{permiso.tipo_permiso}}</mat-chip> -->
                    
                  </ng-container>
          
                  <!-- Columna Fecha -->
                  <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef>Fecha Registro</th>
                    <td mat-cell *matCellDef="let permiso">
                      <div class="fecha-cell">
                        <mat-icon>calendar_today</mat-icon>
                        
                      </div>
                    </td>
                  </ng-container>
          
                  <!-- Columna Estatus -->
                  <ng-container matColumnDef="estatus">
                    <th mat-header-cell *matHeaderCellDef>Estatus</th>
                    <td mat-cell *matCellDef="let permiso">
                      <!-- <span [class]="'estatus ' + permiso.estatus.toLowerCase()">
                        {{permiso.estatus}}
                      </span> -->
                    </td>
                  </ng-container>
          
                  <!-- Columna Acciones -->
                  <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let permiso">
                      <button mat-icon-button color="primary">
                        <mat-icon>visibility</mat-icon>
                      </button>
                    </td>
                  </ng-container>
          
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </mat-card-content>
            </mat-card>
            
          </div>
    
    </main>
  </div>
  </div>
